  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }

  body,html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 62.5%;
  }

  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 3rem;;
  }
  h4 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.8rem;
  }


  .grid-container {
    padding: 2rem;
  }

.result-box {
  background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  display: grid;
  gap: 1rem;
  justify-items: center;
  color: #fff;
  margin: -2rem -2rem 0 -2rem;
  padding: 2rem;
  border-radius: 0 0 3rem 3rem;
}

.result-number {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100px;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  padding: 3rem;
  border-radius: 50%;
}

.result-number p:nth-child(1) {
  font-size: 4rem;
}
.result-number p:nth-child(2) {
  font-size: 1rem;
}

.result-box p:nth-child(4) {
  width: 70%;
  font-size: 1.4rem;
  text-align: center;
}

.summary-box {
  margin-top: 1rem;
}

.tested-areas {
  margin: 1rem 0;
}

.area {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  margin: 2rem 0;
  border-radius: 2rem;
  background: #a57c7c
}

.area:nth-child(1) {
  background: rgba(255, 87, 87, 0.1);
  color: rgba(255, 87, 87);
}
.area:nth-child(2) {
  background: rgba(255, 176, 31,0.1);
  color: rgba(255, 176, 31)
}
.area:nth-child(3) {
  background: rgba(0, 189, 145, 0.1);
  color: rgba(0, 189, 145);
}
.area:nth-child(4) {
  background: rgba(17, 37, 212,0.1);
  color: rgba(17, 37, 212);
}

.left-area {
  display: flex;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  background: hsl(224, 30%, 27%);
  color: #fff;
  border-radius: 3rem;
  padding: 2rem
}

@media(min-width: 500px) {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    display: flex;
    border-radius: 0 2rem 2rem 0; 
    gap:1rem;
    padding: 0;
    box-shadow: 1px 1px 10px rgba(51, 51, 51,0.1);;
  }

  .result-box {
    border-radius: 2rem;
  }

  .result-box {
    margin: 0;
    flex: 1;
  }

  .result-number {
    height: 200px;
    width: 200px;
  }



  .summary-box {
    flex: 1;
    padding: 0 3rem 3rem 3rem;
  }
}

